<div class="welcome" fxLayout="column"  fxLayout.gt-md="row" fxLayoutAlign="center center">
    <section>
        <h1>ACTIVITY</h1>
        <p>Stay active Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos maiores libero temporibus voluptates consequuntur quaerat commodi non quibusdam aut, sit iure minus et delectus accusantium inventore veniam laudantium suscipit!</p>
    </section>
    <section>
        <h1>COMMUNITY</h1>
        <p>Stay active Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos maiores libero temporibus voluptates consequuntur quaerat commodi non quibusdam aut, sit iure minus et delectus accusantium inventore veniam laudantium suscipit!</p>
    </section>
    <section>
        <h1>CHALLENGES</h1>
        <p>Stay active Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos maiores libero temporibus voluptates consequuntur quaerat commodi non quibusdam aut, sit iure minus et delectus accusantium inventore veniam laudantium suscipit!</p>
    </section>
</div>
